################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/CineStack.Api
/backend/CineStack.Api/bin/Debug/net8.0
/backend/CineStack.Api/obj
